name: CI/CD Pipeline

on: push

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build Docker image
      run: docker build -t de-morgen:${{ github.sha }} .

    - name: Login to Docker image
      if: ${{ success() }}
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        
    - name: Push Docker Image
      run: |
        docker tag de-morgen:${{ github.sha }} mahmoudhasan11/de-morgen:${{ github.sha }}
        docker push mahmoudhasan11/de-morgen:${{ github.sha }}
