name: CI/CD Pipeline

on: push

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build Docker image
      run: docker build -t de-morgen:${{ github.sha }} .

    - name: Push Docker image
      if: ${{ success() }}
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        run: |
          docker tag de-morgen:${{ github.sha }} secrets.DOCKERHUB_USERNAME/de-morgen:${{ github.sha }}
          docker push secrets.DOCKERHUB_USERNAME/de-morgen:${{ github.sha }} run my_image pytest
